:root {
  --white: #f6edff;
  --grayBlue: #d0bcff;
  --black: #1d1a22;
  --blueViolet: #21005d;
  --blueVioletLight: #6750a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: var(--white);
  color: var(--black);
}

header {
  background-color: var(--blueViolet);
  padding: 0.5rem 0;
  text-align: center;
  color: var(--white);
}

header a{
  
 
  color: var(--white);
}

.conteiner {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.conteiner table {
  text-align: center;
  margin: 0 auto;
}

.dogSection p {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.child {
  height: 9.375rem;
  width: 15.625rem;
  border: 0.063rem solid transparent;
  border-radius: 0.625rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
h1 {
  text-align: center;
  font-size: 2.25rem;
}

p {
  text-align: justify;
  font-weight: bolder;
}

.about {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about a {
  border: 0.063rem solid var(--blueViolet);
  padding: 0.25rem;
  border-radius: 0.625rem;
  transition: transform 0.5s ease;
  color: var(--blueViolet);
}

.about a:hover {
  transition: 0.5s;
  background-color: var(--blueViolet);
  color: var(--white);
}

.dogValues {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.5rem;
  
}

.dogValues b {
  background-color: var(--blueViolet);
  color: var(--white);
  padding: 0.25rem;
  margin-right: 0.125rem;
}

.dogValues i {
  background-color: var(--grayBlue);
  padding: 0.25rem;
}

h3 {
  text-align: center;
}

li {
  font-weight: bolder;
}

ul {
  list-style: none;
}

thead {
  background-color: var(--blueViolet);
  color: var(--white);
}

tbody {
  background-color: var(--grayBlue);
}

td {
  padding: 0.5rem;
}

.listNavbar {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.navbarContent {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 0.5rem 0px;
}

.navbarContent h1 {
  font-size: 1.5rem;
}

.listNavbar li a {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

footer {
  background-color: var(--blueViolet);
  padding: 0.5rem 0;
  color: var(--white);
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.card {
  padding: 1rem;
  width: 20rem;
  background-color: var(--blueVioletLight);
  color: var(--white);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 468px) {
  .conteiner {
    justify-content: center;
  }

  .box {
    justify-content: center;
  }
}